---
// CTA section
---

<section class="gradient w-full mx-auto text-center pt-6 pb-12">
  <h2
    class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-800 dark:text-gray-100"
  >
    Why are you still here?
  </h2>
  <div class="w-full mb-4">
    <div
      class="h-1 mx-auto bg-gray-800 dark:bg-gray-200 w-1/6 opacity-25 my-0 py-0 rounded-t"
    ></div>
  </div>

  <h3 class="my-4 text-3xl font-extrabold text-gray-800 dark:text-gray-100">
    You could be <mark class="bg-yellow-300 dark:bg-yellow-500 px-1 text-gray-900">highlighting stuff!</mark>
  </h3>

  <a
    href="https://read.withboris.com"
    class="inline-block mx-auto lg:mx-0 hover:underline bg-white dark:bg-zinc-700 text-gray-800 dark:text-gray-100 font-bold rounded my-6 py-4 px-8 shadow-lg"
  >
    Read with Boris
  </a>
</section>

