---
// Customers section
---

<section class="bg-white border-b py-12">
  <div
    class="container mx-auto flex flex-wrap items-center justify-between pb-12"
  >
    <h2
      class="w-full my-2 text-xl font-black leading-tight text-center text-gray-800 lg:mt-8"
    >
      Standing on the Shoulders of Giants
    </h2>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>

    <div
      class="flex flex-1 flex-wrap max-w-4xl mx-auto items-center justify-between text-xl text-gray-500 font-bold opacity-75"
    >
      <a href="https://github.com/hzrd149/applesauce" target="_blank" rel="noopener noreferrer" class="w-1/2 p-4 md:w-auto flex items-center hover:opacity-100"
        ><img src="/applesauce.svg" alt="Applesauce" class="h-10 w-10 mr-4 opacity-75" />
        Applesauce</a
      >

      <a href="https://highlighter.com/" target="_blank" rel="noopener noreferrer" class="w-1/2 p-4 md:w-auto flex items-center hover:opacity-100"
        ><img src="/highlighter.svg" alt="Highlighter" class="h-10 w-10 mr-4 opacity-75" />
        Highlighter</a
      >

      <a href="https://nostrbook.dev/kinds/9802" target="_blank" rel="noopener noreferrer" class="w-1/2 p-4 md:w-auto flex items-center hover:opacity-100"
        ><img src="/kind9802.webp" alt="Kind 9802" class="h-10 w-10 mr-4 opacity-75" />
        Kind 9802</a
      >

      <a href="https://dergigi.com/2023/03/12/lightning-prisms/" target="_blank" rel="noopener noreferrer" class="w-1/2 p-4 md:w-auto flex items-center hover:opacity-100"
        ><img src="/prism.svg" alt="Prism" class="h-10 w-10 mr-4 opacity-75" />
        Prism</a
      >

      <a href="https://chromewebstore.google.com/detail/lantern/jjoijlenmgefkaeiomoaelcljfibpcgh" target="_blank" rel="noopener noreferrer" class="w-1/2 p-4 md:w-auto flex items-center hover:opacity-100"
        ><img src="/lantern.png" alt="Lantern" class="h-10 w-10 mr-4 opacity-75" />
        Lantern</a
      >

      <a href="https://read.withboris.com/a/naddr1qvzqqqr4gupzqmjxss3dld622uu8q25gywum9qtg4w4cv4064jmg20xsac2aam5nqqxnzd3cxqmrzv3exgmr2wfesgsmew" target="_blank" rel="noopener noreferrer" class="w-1/2 p-4 md:w-auto flex items-center hover:opacity-100"
        ><img src="/purple-text.png" alt="Purple Text" class="h-10 w-10 mr-4 opacity-75" />
        Purple Text</a
      >
    </div>
  </div>
</section>

