---
// Features section with SVG illustrations
---

<section id="features" class="bg-gray-50 dark:bg-zinc-900 border-b dark:border-zinc-800 py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h2
      class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-800 dark:text-gray-100"
    >
      Features
    </h2>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 dark:text-gray-100 font-bold leading-none mb-3">
          Read Anywhere
        </h3>
        <p class="text-gray-600 dark:text-gray-300 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img src="/read-anywhere.svg" alt="Read Anywhere" class="w-full sm:h-64 mx-auto" />
      </div>
    </div>

    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <img src="/distraction-free.svg" alt="Distraction-Free" class="w-5/6 sm:h-64 mx-auto" />
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3 class="text-3xl text-gray-800 dark:text-gray-100 font-bold leading-none mb-3">
            Distraction-Free
          </h3>
          <p class="text-gray-600 dark:text-gray-300 mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            at ipsum eu nunc commodo posuere et sit amet ligula.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 dark:text-gray-100 font-bold leading-none mb-3">
          Airplane Mode
        </h3>
        <p class="text-gray-600 dark:text-gray-300 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img src="/airplane-mode.svg" alt="Airplane Mode" class="w-5/6 sm:h-64 mx-auto" />
      </div>
    </div>

    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <img src="/zap-splits.svg" alt="Zap Splits" class="w-5/6 sm:h-64 mx-auto" />
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3 class="text-3xl text-gray-800 dark:text-gray-100 font-bold leading-none mb-3">
            Zap Splits
          </h3>
          <p class="text-gray-600 dark:text-gray-300 mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            at ipsum eu nunc commodo posuere et sit amet ligula.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 dark:text-gray-100 font-bold leading-none mb-3">
          Themes
        </h3>
        <p class="text-gray-600 dark:text-gray-300 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img src="/themes.svg" alt="Themes" class="w-5/6 sm:h-64 mx-auto" />
      </div>
    </div>
  </div>
</section>

