---
// Footer component
---

<footer class="bg-white dark:bg-black">
  <div class="container mx-auto mt-8 px-8">
    <div class="w-full flex flex-col md:flex-row py-6">
      <div class="flex-1 mb-6">
        <a
          class="text-orange-600 dark:text-orange-500 no-underline hover:no-underline font-bold text-2xl lg:text-4xl flex items-center"
          href="#"
        >
          <img src="/boris-logo.svg" alt="Boris" class="h-8 w-16 lg:h-12 lg:w-24 inline-block" />
        </a>
      </div>

      <div class="flex-1">
        <p class="uppercase font-extrabold text-gray-500 dark:text-gray-400 md:mb-6">Links</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >FAQ</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >Help</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >Support</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase font-extrabold text-gray-500 dark:text-gray-400 md:mb-6">Legal</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="https://github.com/dergigi/boris?tab=MIT-1-ov-file#readme"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >License</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >Privacy</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase font-extrabold text-gray-500 dark:text-gray-400 md:mb-6">Social</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="https://github.com/dergigi/boris"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >GitHub</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="https://njump.me/npub19802see0gnk3vjlus0dnmfdagusqrtmsxpl5yfmkwn9uvnfnqylqduhr0x"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >Nostr</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="https://read.withboris.com"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >Web</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase font-extrabold text-gray-500 dark:text-gray-400 md:mb-6">
          Company
        </p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >Official Blog</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >About Us</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 dark:text-gray-300 hover:text-orange-500 dark:hover:text-orange-400"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

