---
// Hero component
---

<div class="container mx-auto h-screen">
  <div class="text-center px-3 lg:px-0">
    <h1
      class="my-4 text-2xl md:text-3xl lg:text-5xl font-black leading-tight text-gray-800 dark:text-gray-100"
    >
      Hello! I'm Boris. I like to read.
    </h1>
    <p
      class="leading-normal text-gray-800 dark:text-gray-200 text-base md:text-xl lg:text-2xl mb-8"
    >
      I'm a nostr-native app designed for reading and <span class="bg-yellow-300 dark:bg-yellow-500 px-1 text-gray-900">highlighting</span>.
    </p>

    <a
      href="https://read.withboris.com"
      class="inline-block mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 dark:text-gray-900 font-extrabold rounded my-2 md:my-6 py-4 px-8 shadow-lg w-48 text-center"
    >
      Try it!
    </a>
    <a
      href="https://github.com/dergigi/boris"
      class="inline-block mx-auto lg:mx-0 hover:underline bg-transparent text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200 font-extrabold my-2 md:my-6 py-2 lg:py-4 px-8"
      ><i class="fa-brands fa-github mr-2"></i>GitHub</a
    >
  </div>

  <div class="flex items-center w-full mx-auto content-end">
    <div class="flex flex-1 m-6 md:px-0 md:m-12 w-1/2">
      <img src="/screenshot-bright.png" alt="Boris app screenshot showing purple text and orange highlights" class="w-full dark:hidden" />
      <img src="/screenshot-dark.png" alt="Boris app screenshot showing purple text and orange highlights" class="w-full hidden dark:block" />
    </div>
  </div>
</div>

