---
// Navigation component
---

<nav id="header" class="w-full z-30 top-0 text-white py-1 lg:py-6">
  <div
    class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-2 lg:py-6"
  >
    <div class="pl-4 flex items-center">
      <a
        class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl flex items-center"
        href="#"
      >
        <img src="/favicon.svg" alt="Boris" class="h-8 w-8 lg:h-12 lg:w-12 inline-block mr-2" />
        Boris
      </a>
    </div>

    <div class="block sm:hidden pr-4">
      <button
        id="nav-toggle"
        class="flex items-center px-3 py-2 border rounded text-gray-800 dark:text-gray-200 border-gray-300 dark:border-gray-600 hover:text-black dark:hover:text-white hover:border-gray-400 dark:hover:border-gray-500 appearance-none focus:outline-none"
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>

    <div
      class="w-full flex-grow sm:flex sm:items-center sm:w-auto hidden sm:block mt-2 sm:mt-0 text-black p-4 sm:p-0 z-20"
      id="nav-content"
    >
      <ul class="list-reset sm:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a
            class="inline-block py-2 px-4 text-black dark:text-gray-200 no-underline hover:text-gray-800 dark:hover:text-white hover:text-underline"
            href="#features"
            >Features</a
          >
        </li>
        <li class="mr-3">
          <a
            class="inline-block text-black dark:text-gray-200 no-underline hover:text-gray-800 dark:hover:text-white hover:text-underline py-2 px-4"
            href="#faq"
            >FAQ</a
          >
        </li>
        <li class="mr-3">
          <a
            class="inline-block text-black dark:text-gray-200 no-underline hover:text-gray-800 dark:hover:text-white hover:text-underline py-2 px-4"
            href="#pricing"
            >More</a
          >
        </li>
        <li class="mr-3">
          <button
            onclick="toggleTheme()"
            class="inline-block py-2 px-3 text-black dark:text-gray-200 hover:text-gray-800 dark:hover:text-white opacity-60 hover:opacity-100 transition-opacity"
            aria-label="Toggle theme"
          >
            <i id="theme-toggle-sun" class="fas fa-sun dark:hidden"></i>
            <i id="theme-toggle-moon" class="fas fa-moon hidden dark:inline"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

