---
// Pricing section
---

<section id="pricing" class="bg-gray-50 dark:bg-zinc-900 py-8">
  <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800 dark:text-gray-200">
    <h2
      class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-800 dark:text-gray-100"
    >
      <span class="line-through opacity-50">Pricing</span> Zaps⚡
    </h2>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>

    <div
      class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4"
    >
      <div
        class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-2xl overflow-hidden bg-white dark:bg-zinc-900 border dark:border-zinc-500 mt-4 lg:ml-8"
      >
        <div
          class="flex-1 bg-white dark:bg-zinc-900 text-gray-600 dark:text-gray-300"
        >
          <div class="p-8 text-3xl font-bold text-center border-b-4 dark:border-zinc-500">
            Free
          </div>
          <ul class="w-full text-center text-sm">
            <li class="border-b dark:border-zinc-600 py-4">All the features</li>
            <li class="border-b dark:border-zinc-600 py-4">Open-source forever</li>
            <li class="border-b dark:border-zinc-600 py-4">Full freedom</li>
          </ul>
        </div>
        <div
          class="flex-none mt-auto bg-white dark:bg-zinc-900 p-6"
        >
          <div
            class="w-full pt-6 text-3xl text-gray-600 dark:text-gray-300 font-bold text-center"
          >
            0 sats
          </div>
          <div class="flex items-center justify-center">
            <a
              href="https://zapper.nostrapps.org/zap?id=npub19802see0gnk3vjlus0dnmfdagusqrtmsxpl5yfmkwn9uvnfnqylqduhr0x"
              class="mx-auto lg:mx-0 hover:underline bg-gray-200 dark:bg-zinc-700 text-gray-800 dark:text-gray-100 font-bold rounded-lg my-6 py-4 px-8 shadow-md inline-block text-center"
            >
              Hell yeah!
            </a>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-2xl overflow-hidden bg-white dark:bg-zinc-800 border dark:border-zinc-500 mt-4 sm:-mt-6 z-10 shadow-lg"
      >
        <div class="flex-1">
          <div class="w-full p-8 text-3xl font-bold text-center border-b-4 dark:border-zinc-500 text-gray-800 dark:text-gray-100">Support Boris</div>
          <ul class="w-full text-center text-base font-bold text-gray-800 dark:text-gray-200">
            <li class="border-b dark:border-zinc-600 py-4">Still all the features</li>
            <li class="border-b dark:border-zinc-600 py-4">Feel great about it</li>
            <li class="border-b dark:border-zinc-600 py-4">Show up as a supporter</li>
            <li class="border-b dark:border-zinc-600 py-4">Marvel at your avatar</li>
          </ul>
        </div>
        <div
          class="flex-none mt-auto p-6"
        >
          <div class="w-full pt-6 text-4xl font-bold text-center text-gray-800 dark:text-gray-100">
            <i class="fa-brands fa-bitcoin fa-xs text-orange-500 mr-2"></i>2.1k sats
          </div>
          <div class="flex items-center justify-center">
            <a
              href="https://zapper.nostrapps.org/zap?id=npub19802see0gnk3vjlus0dnmfdagusqrtmsxpl5yfmkwn9uvnfnqylqduhr0x"
              class="mx-auto lg:mx-0 hover:underline gradient2 text-gray-800 dark:text-gray-900 font-bold rounded-lg my-6 py-4 px-8 shadow-lg inline-block text-center"
            >
              Let's gooo!
            </a>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-2xl overflow-hidden bg-white dark:bg-zinc-900 border dark:border-zinc-500 mt-4 lg:mr-8"
      >
        <div
          class="flex-1 bg-white dark:bg-zinc-900 text-gray-600 dark:text-gray-300"
        >
          <div class="p-8 text-3xl font-bold text-center border-b-4 dark:border-zinc-500">
            Legend
          </div>
          <ul class="w-full text-center text-sm">
            <li class="border-b dark:border-zinc-600 py-4">Fantastic numerology</li>
            <li class="border-b dark:border-zinc-600 py-4">Massive bragging rights</li>
            <li class="border-b dark:border-zinc-600 py-4">Flames around your avatar</li>
          </ul>
        </div>
        <div
          class="flex-none mt-auto bg-white dark:bg-zinc-900 p-6"
        >
          <div
            class="w-full pt-6 text-3xl text-gray-600 dark:text-gray-300 font-bold text-center"
          >
            69,420 sats
          </div>
          <div class="flex items-center justify-center">
            <a
              href="https://zapper.nostrapps.org/zap?id=npub19802see0gnk3vjlus0dnmfdagusqrtmsxpl5yfmkwn9uvnfnqylqduhr0x"
              class="mx-auto lg:mx-0 hover:underline bg-gray-200 dark:bg-zinc-700 text-gray-800 dark:text-gray-100 font-bold rounded-lg my-6 py-4 px-8 shadow-md inline-block text-center"
            >
              I love it.
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center mt-12 px-4">
      <p class="text-gray-600 dark:text-gray-400 text-lg max-w-2xl mx-auto leading-relaxed">
        Boris is a labor of love and is developed by <a href="https://dergigi.com" class="text-orange-500 underline hover:text-orange-600">one guy</a>. If you can't send zaps, send memes. Or things to read.
      </p>
    </div>
  </div>
</section>

